*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;   
}


header{
    /* border: 2px solid red; */
    background-color: #568B56;
}

.nav-links{
    /* border: 2px solid black; */
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.shopsy-logo{
    text-decoration: none;
}
.shopsy{
    font-size: 1.6em;
    font-style: italic;
    color: #122231;
}

.menu-lists{
    display: flex;
    align-items: center;
    gap: 1.2em;
}

.menu-lists li a{
    text-decoration: none;
    font-size: 1em;
    color: #ffffff;
}

.menu-lists li a:hover{
    color: #122231;
}
.btn-icons{
    display: flex;
    align-items: center;
    gap: 1em;
}

.fa-cart-shopping{
    color: white;
    font-size: 1.4em;
}

.signup{
    text-decoration: none;
    background-color: #122231;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 16px;
    color: white;
    font-style: 1.2em;
    font-weight: 600;
}

.signup:hover{
    background-color: white;
    color: #122231;
}
.fa-bars{
    color: white;
    font-size: 1.4em;
    visibility: hidden;
}


/* HEADER-MEDIA QUERY */

@media(max-width: 886px){
    .nav-links{
        width: 100%;
        justify-content: space-between;
    }

    .menu-lists{
        display: none;
    }

    .signup{
        display: none;
    }

    .fa-bars{
        visibility: visible;
    }
}


/* SECT-2 */

.faq{
    color: #122231;
    text-align: center;
}

.accordion{
    --bs-accordion-active-color: #122231;
    --bs-accordion-active-bg: none;
    --bs-accordion-btn-focus-box-shadow:none;
    --bs-accordion-border-radius: 8px;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20fill='%232C1762'%20viewBox='0%200%20448%20512'%3E%3Cpath%20d='M256%2080c0-17.7-14.3-32-32-32s-32%2014.3-32%2032v144H48c-17.7%200-32%2014.3-32%2032s14.3%2032%2032%2032h144v144c0%2017.7%2014.3%2032%2032%2032s32-14.3%2032-32V288h144c17.7%200%2032-14.3%2032-32s-14.3-32-32-32H256V80z'/%3E%3C/svg%3E");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232C1762' viewBox='0 0 448 512'%3E%3Cpath d='M80 224c-17.7 0-32 14.3-32 32s14.3 32 32 32h288c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z'/%3E%3C/svg%3E");
}

.accordion-items{
    border: 2px solid black;
    width: 80%;
    margin: auto;
    display: flex;
    gap: 1.6em;
    padding: 20px;
}

.wrapper{
    /* border: 2px solid red; */
    width: 50%;
}

.accordion-item{
    border: none;
    box-shadow: 0 0 10px rgba(31, 31, 155, 0.1);
    margin-bottom: 10px;
    /* padding: 4px; */
    color: #616161;
}

.accordion-button{
    color: #122231;
    font-size: .6em;
    font-weight: 600;
}


/*SECT-1-MEDIA QUERY */

@media(max-width: 640px){
    .accordion-items{
        width: 100%;
        flex-direction: column;
    }

    .wrapper{
        width: 100%;
    }
}