*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins'sans-serif;
    list-style-type: none;
    text-decoration: none;
}

.faq-header{background-image: url("./images/64628f1aba6705db8e3715ce_curved\ shape.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid red;
    
}
.faq-header{
    height: 30vh;
}

.faq{
    display: inline;
    border: 2px solid purple;
    padding: 0px 0px ;
}
.faqs div img{

    height: 100%;
    object-fit: cover;
    
}

.container{
    display: flex;
    margin: auto;
    gap: 1em;
}

.accordion{
    width: 100%;
    --bs-accordion-active-color: #2C1762;
    --bs-accordion-active-bg: none;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-border-radius: 8px;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20fill='%232C1762'%20viewBox='0%200%20448%20512'%3E%3Cpath%20d='M256%2080c0-17.7-14.3-32-32-32s-32%2014.3-32%2032v144H48c-17.7%200-32%2014.3-32%2032s14.3%2032%2032%2032h144v144c0%2017.7%2014.3%2032%2032%2032s32-14.3%2032-32V288h144c17.7%200%2032-14.3%2032-32s-14.3-32-32-32H256V80z'/%3E%3C/svg%3E");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232C1762' viewBox='0 0 448 512'%3E%3Cpath d='M80 224c-17.7 0-32 14.3-32 32s14.3 32 32 32h288c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z'/%3E%3C/svg%3E"); 

    /* --bs-accordion-btn-icon-transform: translateY(8px); */
    /* --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out; */
}

.accordion-btn-icon{
    color: #2C1762;
    padding: 10px;
    background-color: aqua;
}

.accordion-item{
    border: none;
    box-shadow: 0 0 10px rgba(31, 31, 155, 0.1);
    margin-bottom: 1em;
    padding: 10px;
    color: #616161;
    border-radius: 8px;
}



.accordion-button{
    font-size: 0.6em;
    font-weight: 600;
    color: #2C1762;
    /* border: 2px solid red; */
    /* font-family: 'poppins', sans-serif; */
}

.accordion-button:active{
    border: none;
    
}

.accordion-button:active{

}

