*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;   
}


header{
    /* border: 2px solid red; */
    background-color: #568B56;
}

.nav-links{
    /* border: 2px solid black; */
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.shopsy-logo{
    text-decoration: none;
}
.shopsy{
    font-size: 1.6em;
    font-style: italic;
    color: #122231;
}

.menu-lists{
    display: flex;
    align-items: center;
    gap: 1.2em;
}

.menu-lists li a{
    text-decoration: none;
    font-size: 1em;
    color: #ffffff;
}

.menu-lists li a:hover{
    color: #122231;
}
.btn-icons{
    display: flex;
    align-items: center;
    gap: 1em;
}

.fa-cart-shopping{
    color: white;
    font-size: 1.4em;
}

.signup{
    text-decoration: none;
    background-color: #122231;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 16px;
    color: white;
    font-style: 1.2em;
    font-weight: 600;
}

.signup:hover{
    background-color: white;
    color: #122231;
}
.fa-bars{
    color: white;
    font-size: 1.4em;
    visibility: hidden;
}


/* HEADER-MEDIA QUERY */

@media(max-width: 886px){
    .nav-links{
        width: 100%;
        justify-content: space-between;
    }

    .menu-lists{
        display: none;
    }

    .signup{
        display: none;
    }

    .fa-bars{
        visibility: visible;
    }
}


/* SECT-1 */
.sect-1{
    background-color: #FAFAFC;
    border: 2px solid black;
    margin-bottom: 20px;
}

.products-wrapper{
    width: 60%;
    margin: auto;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    gap: 2em;
    text-align: center;
    margin-bottom: 20px;
}

.products a{
    text-decoration: none;
}

.products a p{
    font-size: 1em;
    color: #568B56;
}

.learn{
    background-color: #122231;
    text-align: center;
    padding: 10px;
    color: white;
}

.learn-text{
    width: 80%;
    margin: auto;
}
.learn-text li{
    font-size: 1em;
}

.learnmore{
    color: #568B56;
    text-decoration: none;
    margin-left: 2px;
}

.learnmore:hover{
    text-decoration: underline;
}
/* SECT-1-MEDIA-QUERY */

@media(max-width: 909px){
    .products-wrapper{
        width: 100%;
        flex-wrap: wrap;
        /* justify-content: space-evenly; */
    }
}

@media(max-width: 617px){
    .learn-text{
        width: 100%;
        font-size: .8em;
    }
}


/* SECT-2 */

.sect-2{
    background-color: #FAFAFC;
    padding: 60px 20px;
    position: relative;
}

.airpod-wrapper{
    background-color: #ffffff; 
    border-radius: 20px;
}

.airpod-max{
  font-size: 10rem;
  font-weight: 700;
  z-index: 1;
  position: relative;
  top: 200px;
  display: flex;
  justify-content: center;
  /* left: 100px; */
}

.airpods-img {
  /* max-width: 100%; */
  height: auto;
  width: 400px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.subtopic{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.subtitle {
  margin-top: 350px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #122231;
}

.price {
  font-size: 1rem;
  color: #122231;
}


.learn-buy{
    /* display: flex; */
    margin-top:390px;
}

.more{
    text-decoration: none;
    padding: 8px 14px;
    background-color: #122231;
    color: #ffffff;
    border-radius: 20px;
    margin-right: 20px;
}

.more:hover{
    background-color: #ffffff;
    color: #122231;
    border: 1px solid #122231;
}
.buy{
    padding: 8px 14px;
    background-color: #ffffff;
    color: #122231;
    text-decoration: none;
    border: 1px solid #122231;
    border-radius: 20px;
    margin-right: 20px;
}

.buy:hover{
    background-color: #122231;
    color: #ffffff;
    border: none;
}

/* SECT-2 Media Query */

@media(max-width: 1162px){
    .airpod-max{
        font-size:8rem;
    }
}


@media(max-width: 956px){
    .airpod-max{

        font-size: 6rem;
    }
}

@media(max-width: 720px){
    .sect-2{
        padding: 20px 20px;
    }
    .airpod-max{
        font-size: 4rem;
        top:300px;
    }

    .airpods-img{
        width: 200px;
        top: 30%;
    }

    .subtopic{
        text-align: center;
        flex-direction: column;
    }
    .subtitle{
        margin-top: 300px;
    }

    .learn-buy{
        margin-top: 10px;
    }
}

@media(max-width: 500px){
    .airpod-max{
        font-size: 2rem;
    }

    .subtitle, .price{
        font-size: 1em;
    }

    .more, .buy{
        margin-right: 10px;
    }
}