*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;   
}


header{
    /* border: 2px solid red; */
    background-color: #568B56;
}

.nav-links{
    /* border: 2px solid black; */
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.shopsy-logo{
    text-decoration: none;
}
.shopsy{
    font-size: 1.6em;
    font-style: italic;
    color: #122231;
}

.menu-lists{
    display: flex;
    align-items: center;
    gap: 1.2em;
}

.menu-lists li a{
    text-decoration: none;
    font-size: 1em;
    color: #ffffff;
}

.menu-lists li a:hover{
    color: #122231;
}
.btn-icons{
    display: flex;
    align-items: center;
    gap: 1em;
}

.fa-cart-shopping{
    color: white;
    font-size: 1.4em;
}

.signup{
    text-decoration: none;
    background-color: #122231;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 16px;
    color: white;
    font-style: 1.2em;
    font-weight: 600;
}

.signup:hover{
    background-color: white;
    color: #122231;
}
.fa-bars{
    color: white;
    font-size: 1.4em;
    visibility: hidden;
}


/* HEADER-MEDIA QUERY */

@media(max-width: 886px){
    .nav-links{
        width: 100%;
        justify-content: space-between;
    }

    .menu-lists{
        display: none;
    }

    .signup{
        display: none;
    }

    .fa-bars{
        visibility: visible;
    }
}


/* SECT-1 */
.sect-1{
    background-color: #FAFAFC;
    border: 2px solid black;
}

.products-wrapper{
    width: 60%;
    margin: auto;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    gap: 2em;
    text-align: center;
    margin-bottom: 20px;
}

.products a{
    text-decoration: none;
}

.products a p{
    font-size: 1em;
    color: #568B56;
}

.learn{
    background-color: #122231;
    text-align: center;
    padding: 10px;
    color: white;
}

.learn-text{
    width: 80%;
    margin: auto;
}
.learn-text li{
    font-size: 1em;
}

.learnmore{
    color: #568B56;
    text-decoration: none;
    margin-left: 2px;
}

.learnmore:hover{
    text-decoration: underline;
}
/* SECT-1-MEDIA-QUERY */

@media(max-width: 909px){
    .products-wrapper{
        width: 100%;
        flex-wrap: wrap;
        /* justify-content: space-evenly; */
    }
}

@media(max-width: 617px){
    .learn-text{
        width: 100%;
        font-size: .8em;
    }
}